.section-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 60%;
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}
