.section-subtitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}
