.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 640px;    /* по брифу у нас ссылка должна занимать много места, насколько я вижу из макета( единственное что я могу придумать, это вырвать ее из потока и подогнать по размерам относительно khan__book-container(*/
}

.khan__buy-link:hover {
  opacity: .85;
}
